<!DOCTYPE html >
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>Buildings Colour Picker</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/skeleton.css">
    <link rel="stylesheet" href="styles/color-picker.css">
    <link rel="stylesheet" href="styles/layout.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body ng-app="buildingColorApp">


<!-- Primary Page Layout
================================================== -->

<div class="container" ng-controller="MainCtrl">
    <div class="sixteen columns">
        <h1 class="remove-bottom" style="margin-top: 40px">Buildings Colour Picker</h1>
        <h5>Version 0.1</h5>
        <hr/>
    </div>

    <div class="six columns offset-by-one">
        <h5>Please, chose a render color and finish</h5>

        <div class="three columns alpha">
            <strong>Render color</strong>
            <ul class="render-items">
                <li class="render-colour" ng-click="choseColor(color)"
                    style="background: {{color.code}}" ng-repeat="color in colors"></li>
            </ul>
        </div>
        <div class="three columns omega">
            <strong>Render finish</strong>
            <ul class="render-items">
                <li class="render-finish" ng-click="choseTexture(texture)"
                    style="background-image: url('images/{{texture.file}}.jpg')"
                    ng-repeat="texture in textures"></li>
            </ul>
        </div>

        <div class="six columns alpha">
            <strong>Preview</strong>

            <div class="six columns alpha">

                <div class="preview three columns alpha" style="background-color: {{currentColor.code}}">
                    <div style="height: 100%; opacity: 0.6; background-image: url('images/{{currentTexture.file}}.jpg')"></div>

                </div>
                <div class="info three columns omega">
                    <p>{{currentColor.name}}</p>

                    <p>{{currentTexture.name}}</p>
                </div>
            </div>

        </div>
        <div class="six columns alpha hide-small">
            <form class="enquiry-form">
                <label for="name">Name</label>
                <input type="text" class="remove-bottom" id="name">
                <label for="telephone">Telephone</label>
                <input type="tel" class="remove-bottom" id="telephone">
                <label for="email">Email</label>
                <input type="email" class="remove-bottom" id="email">
                <label for="regularRadio">
                    <input type="radio" name="radios" checked id="regularRadio" value="commercial">
                    <span>Commercial</span>
                </label>
                <label for="secondRegularRadio">
                    <input type="radio" name="radios" id="secondRegularRadio" value="domestic">
                    <span>Domestic</span>
                </label>
                <input type="hidden" name="finish" value="{{currentTexture.name}}">
                <input type="hidden" name="color" value="{{currentColor.name}}">
                <button type="submit">Send enquiry</button>
            </form>
        </div>
    </div>
    <div class="eight columns">

        <div class="images">
            <div ng-repeat="image in images" ng-click="choseImage(image)" class="{{image.selected}}"
                 style="background-image: url('images/{{image.name}}')"></div>
        </div>
        <div class="photo">
            <img src="images/{{currentImage.name}}" alt="1"/>

            <div class="svg-container">
                <object>
                    <svg x="0px" y="0px" style="" vbox="0 0 {{currentImage.width}} {{currentImage.height}}">
                        <defs>
                            <pattern id="acrylic" x="0" y="0" patternUnits="userSpaceOnUse" height="20" width="20">
                                <image x="0" y="0" xlink:href="images/acrylic.jpg" width="300" height="300"></image>
                            </pattern>
                            <pattern id="mineral" x="0" y="0" patternUnits="userSpaceOnUse" height="100" width="100">
                                <image x="0" y="0" xlink:href="images/mineral.jpg" width="534" height="400"></image>
                            </pattern>
                            <pattern id="monocouche" x="0" y="0" patternUnits="userSpaceOnUse" height="20" width="20">
                                <image x="0" y="0" xlink:href="images/monocouche.jpg" width="260" height="194"></image>
                            </pattern>
                        </defs>
                        <path opacity="0.3" fill="url(#{{currentTexture.file}})"
                              d="{{currentImage.overlayPath}}"/>

                        <path opacity="0.6" fill="{{currentColor.code}}"
                              d="{{currentImage.overlayPath}}"/>

                    </svg>

                </object>
            </div>
        </div>

    </div>
    <div class="six columns alpha show-small">
        <form class="enquiry-form">
            <label for="name">Name</label>
            <input type="text" class="remove-bottom" id="name">
            <label for="telephone">Telephone</label>
            <input type="tel" class="remove-bottom" id="telephone">
            <label for="email">Email</label>
            <input type="email" class="remove-bottom" id="email">
            <label for="regularRadio">
                <input type="radio" name="radios" checked id="regularRadio" value="commercial">
                <span>Commercial</span>
            </label>
            <label for="secondRegularRadio">
                <input type="radio" name="radios" id="secondRegularRadio" value="domestic">
                <span>Domestic</span>
            </label>
            <input type="hidden" name="finish" value="{{currentTexture.name}}">
            <input type="hidden" name="color" value="{{currentColor.name}}">
            <button type="submit">Send enquiry</button>
        </form>
    </div>
</div>
<!-- container -->


<!-- scripts -->
<script src="scripts/jquery.min.js"></script>
<script src="scripts/angular.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>

<script>
</script>

<!-- End Document
================================================== -->
</body>
</html>