/*
VENDOR MIXIN
Use:

  .foo{
  @include vendor(transition, all 0.3s ease-in-out );
  }


*/
/*

TRANSFORM-MIXIN
Use:
  .foo{
  @include transform(0px, 100px);
  }

*/
/*
KEYFRAME
Use:
  @include keyframe(fadeout) {
      0% {
          opacity: 1;
      }

      100% {
          opacity: 0;
      }
  }
*/
/*
    ANIMATION
    use:
      .foo{
      @include animation(8s, 4s, fadeout)
      }
 */
.color-item {
  cursor: pointer; }

.photo {
  position: relative;
  overflow: hidden; }
  .photo img {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block; }
  .photo .svg-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

ul.render-items {
  margin: 0;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }
  ul.render-items li {
    padding: 0;
    list-style: none;
    cursor: pointer;
    display: block;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
    transition: transform 0.2s; }
  ul.render-items li:nth-child(4n) {
    margin-right: 0; }

.render-colour {
  cursor: pointer;
  width: 100px;
  height: 83px;
  margin-right: 10px;
  margin-bottom: 8px;
  background-color: #808080;
  background-size: cover;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #bebebe; }
  .render-colour:nth-child(3n), .render-colour.selected:nth-child(3n) {
    margin-right: -4px; }
  .render-colour.selected {
    margin-right: 8px;
    margin-left: -2px;
    margin-top: -3px;
    margin-bottom: 7px;
    border: 3px solid #73b819; }

.time-of-day-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000; }

.render-finish {
  width: 100%;
  height: 63px;
  background: grey;
  margin-bottom: 5px;
  background-size: cover; }
  .render-finish:hover {
    -webkit-transform: scale(1.05) translateZ(0);
    -moz-transform: scale(1.05) translateZ(0);
    -ms-transform: scale(1.05) translateZ(0);
    -o-transform: scale(1.05) translateZ(0);
    transform: scale(1.05) translateZ(0); }

.space-bottom {
  margin-bottom: 15px; }

.space-right {
  margin-right: 5px; }

.slider-container {
  width: 100%;
  padding-top: 5px;
  height: 80px;
  border-radius: 10px;
  background-color: #73b819; }
  .slider-container .heading {
    text-align: center;
    color: #ffffff; }
  .slider-container .icon {
    width: 25px;
    height: 50px;
    padding-top: 25px;
    margin: 0 12px;
    position: relative;
    top: -2px;
    display: inline-block;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center; }
  .slider-container .slider-wrapper {
    display: inline-block;
    width: calc(100% - 110px); }
  .slider-container .icon.moon {
    background-image: url("../images/moon144.svg"); }
  .slider-container .icon.sun {
    background-image: url("../images/sun79.svg"); }

.images {
  overflow: scroll;
  width: 100%;
  height: 100px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 15px; }
  .images div.selected {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9); }

.image {
  height: 100px;
  width: 100px;
  margin-right: 15px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s; }

.toolbar {
  height: 30px;
  color: #73b819; }

.toggle {
  height: 20px;
  width: 100px;
  color: #73b819;
  border: 1px solid #73b819;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  cursor: pointer; }
  .toggle.selected {
    color: #ffffff;
    background-color: #73b819; }

.toggle-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0px; }

.toggle-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

object {
  width: 100%;
  display: block;
  height: 100%;
  position: relative; }

svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.enquiry-form label {
  float: none; }
.enquiry-form input[type="text"], .enquiry-form input[type="email"], .enquiry-form input[type="tel"] {
  float: none;
  width: 95%; }
.enquiry-form input[type="radio"] {
  float: left; }

.left {
  float: left !important; }
