@import "mixins";

$systemColor: #73b819;
.color-item {
  cursor: pointer;
}

.photo {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
  }
  .svg-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

ul.render-items {
  margin: 0;
  width: 100%;
  @include vendor(transform, translateZ(0));
  li {
    padding: 0;
    list-style: none;
    cursor: pointer;
    display: block;
    @include transition(transform 0.2s);
  }
  li:nth-child(4n) {
    margin-right: 0;
  }

}

.render-colour {
  cursor: pointer;
  width: 100px;
  height: 83px;
  margin-right: 10px;
  margin-bottom: 8px;
  background: grey;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #bebebe;

  &:nth-child(3n), &.selected:nth-child(3n) {
    margin-right: -4px;
  }
  &.selected {
    margin-right: 8px;
    margin-left: -2px;
    margin-top: -3px;
    margin-bottom: 7px;
    border: 3px solid $systemColor;
  }
}

.time-of-day-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
}

.render-finish {
  width: 100%;
  height: 63px;
  background: grey;
  margin-bottom: 5px;
  background-size: cover;
  &:hover {
    @include vendor(transform, scale(1.05) translateZ(0));
  }
}

.space-bottom {
  margin-bottom: 15px;
}

.space-right {
  margin-right: 5px;
}

.slider-container {
  width: 100%;
  padding-top: 5px;
  height: 80px;
  border-radius: 10px;
  background-color: $systemColor;
  .heading {
    text-align: center;
    color: #ffffff;
  }
  .icon {
    width: 25px;
    height: 50px;
    padding-top: 25px;
    margin: 0 12px;
    position: relative;
    top: -2px;
    display: inline-block;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
  }
  .slider-wrapper {
    display: inline-block;
    width: calc(100% - 110px);
  }
  .icon.moon {
    background-image: url("../images/moon144.svg");
  }
  .icon.sun {
    background-image: url("../images/sun79.svg");
  }
}


.images {
  overflow: scroll;
  width: 100%;
  height: 100px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 15px;
  div.selected {
    @include vendor(transform, scale(0.9));
  }
}

.image {
  height: 100px;
  width: 100px;
  margin-right: 15px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  cursor: pointer;
  @include transition(transform 0.3s)
}

.toolbar{
  height: 30px;
  color: $systemColor;
}

.toggle{
  height: 20px;
  width: 100px;
  color: $systemColor;
  border: 1px solid $systemColor;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  &.selected{
    color: #ffffff;
    background-color: $systemColor;
  }
}
.toggle-left{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0px;
}
.toggle-right{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

object {
  width: 100%;
  display: block;
  height: 100%;
  position: relative;
  //  padding-top: 100%;
}

svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.enquiry-form {
  label {
    float: none;
  }
  input[type="text"], input[type="email"], input[type="tel"] {
    float: none;
    width: 95%;
  }
  input[type="radio"] {
    float: left;
  }
}

.left {
  float: left !important;
}